.a{
    text-decoration: none;
}
a:hover{

    text-decoration: none;
}

.red{
    color:red;
    }
.form-area
{
    background-color: #FAFAFA;
	padding: 10px 40px 60px;
	margin: 10px 0px 60px;
	border: 1px solid rgba(0,0,0,0.1);
}

	/* image preview */
.container{
    margin-top:20px;
          }

.image-preview-input {
    position: relative;
	overflow: hidden;
	margin: 0px;    
    color: #333;
    background-color: #fff;
    border-color: #ccc;    
}

.image-preview-input input[type=file] {
	position: absolute;
	top: 0;
	right: 0;
	margin: 0;
	padding: 0;
	font-size: 20px;
	cursor: pointer;
	opacity: 0;
	filter: alpha(opacity=0);
}

.image-preview-input-title {
    margin-left:2px;
}
/* access resume */
/*body {
    padding-top: 50px;
}*/
.dropdown.dropdown-lg .dropdown-menu {
    margin-top: -1px;
    padding: 6px 20px;
}
.input-group-btn .btn-group {
    display: flex !important;
}
.btn-group .btn {
    border-radius: 0;
    margin-left: -1px;
}
.btn-group .btn:last-child {
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}
.btn-group .form-horizontal .btn[type="submit"] {
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}
.form-horizontal .form-group {
    margin-left: 0;
    margin-right: 0;
}
.form-group .form-control:last-child {
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}
.sp{

    border: 1px solid rgba(0,0,0,0.2);
    border-radius: 20px;
    padding: 5px;
    text-align: center;
margin:10px;
}
.media{

        margin-top: 50px;
            background: #efefef;;
    padding: 15px;
    font-size: small;
        border-radius: 30px 0px;


}
.media-object{

        height: 5em;
    width: 5em;
    margin: 10px;

}
.media-heading{
        margin-top: 10px;

}
.dropdown-menu{
    border: none;
}

.read{
  padding-top: 6em;
    background: #e4e4e4;
    position: relative;
    top: 50px;
    height: 12.5em;
    width: 10em;
    right: 2em;
    border-radius: 0 30px;
    padding-left: 20px;
}
.rd{
   padding: 10px;
    color: #007bff;
    font-weight: 600;
    border: #007bff 1px solid;
    border-radius:100px;
    
}
.rd:hover{
     border: white 1px solid;
    padding: 10px;
    font-weight: 600;
    border-radius: 100px;
    background: #007bff;
    color:white;
    transition:0.5s;
}
.rd1{
    background: url("../apply.jpg");
}
.fa-briefcase,.fa-map-marker,.fa-folder-open{
    color:grey;
}
.sub{
    margin-right: 20em;
    border-radius: 100px;
    padding: 10px;
    padding-left: 30px;
    padding-right: 30px;
}
.form-horizontal{
background: darkslategrey;
    padding: 20px;
    color: white;
    position: relative;
    left: 20px;
    bottom: 5px;
    width: 27em;
}
.input-group .form-control{
    width: 100%;
}
ul >li{
    margin:10px;
}
.card{
        margin-left: 20px;

}
.head-resume{
color:white;
text-align:center;
position:relative;
top:1em;
left:4em;
}
.breadcrumb{
    padding-left: 20em;
    padding-top: 2em;
}
.col1{
    background-image: url("1.jpg") !important;
}
.bg-dark1{
    background-image: url("../back.jpg");
    background-size: cover;
}
.card{

    background: rgba(255,255,255,0.3);
}
.card-header:first-child {
   
    background: chocolate;
    font-size: 20px;
    color: white;
}
.a1{
    background: #ffc107;
    border: 1px solid orange;
    color: white;
    border-radius: 100px;
    font-size: 16px;
    padding: 5px 15px 5px 15px;
    font-weight: bold;
    outline: none;
}
@media screen and (min-width: 768px) {
    #adv-search {
        width: 500px;
        margin: 0 auto;
    }
    .dropdown.dropdown-lg {
        position: static !important;
    }
    .dropdown.dropdown-lg .dropdown-menu {
        min-width: 500px;
    }
}
